.header {
  width: 880px;
  height: 33px;
  padding: 45px 0 41px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
  .header {
    width: 100%;
    padding: 28px 0 31.6px;
  }
}
