.element__description {
  display: flex;
  justify-content: space-between;
  width: 87.2%;
  padding: 21px 15px 26px 21px;
}

@media screen and (max-width: 767px) {
  .element__description {
    padding: 25px 15px 31px 21px;
  }
}
